In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#q1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

In [5]:
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
#q3.Q3. Create a Pandas DataFrame that contains the following data:

#Then, print the DataFrame.
#Name
#Alice
#Bob
#Claire

#Age
#25
#30
#27

#Gender
#Female
#Male
#Female
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#A DataFrame is a 2-dimensional, size-mutable, and tabular data structure in Pandas. It consists of rows and columns, similar to a spreadsheet or SQL table. Each column in a DataFrame can be of a different data type, making it versatile for storing and analyzing data. In contrast, a Series is a 1-dimensional data structure in Pandas, similar to a column in a DataFrame.

#Example of a Series:
#data = [1, 2, 3, 4, 5]
#series = pd.Series(data)
#example of a dataframe
#data = {'Name': ['Alice', 'Bob', 'Claire'],
      #  'Age': [25, 30, 27],
       # 'Gender': ['Female', 'Male', 'Female']}
#df = pd.DataFrame(data)
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?
#Common functions for data manipulation in Pandas DataFrame include:

#head() and tail(): To view the first or last few rows of the DataFrame.
#describe(): To get summary statistics of numeric columns.
#loc[] and iloc[]: For data selection and slicing.
#groupby(): To group and aggregate data.
#sort_values(): To sort the DataFrame by specific columns.
#drop(): To remove rows or columns.
#merge(): To combine DataFrames based on a common column.
#pivot_table(): To create pivot tables for data analysis.
#Example: Using groupby() to group and aggregate data.

# Grouping by 'Gender' and calculating the mean age
grouped = df.groupby('Gender')
mean_age = grouped['Age'].mean()
print(mean_age)

Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

In [8]:
#q6.which of the following is mutable in nature Series, DataFrame, Panel?
#Both Series and DataFrame are mutable in nature. This means you can modify the content of a Series or DataFrame after creation. You can add, update, or delete elements within them. However, a Panel is not a native data structure in modern versions of Pandas, so it's not relevant in this context.
#q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female